<form novalidate class="css-form" name="rateCheckForm" ng-submit="update(rateCheckForm.$valid)">
    <div class="fieldset">
        <fieldset>
            <legend>Please enter your details</legend>
            <p>
                <label class='field' for="name">Name</label>
                <input type="text" ng-model="user.name" required id="name" name="name" ng-minlength="2" ng-maxlength="80"/>
                <span ng-show="rateCheckForm.$submitted || rateCheckForm.name.$touched">
                    <span ng-show="rateCheckForm.name.$error.required">Enter your name</span>
                </span>
            </p>
            <p>
                <label class='field'>Email</label>
                <input type="email" ng-model="user.email" required name="email" id="email"/>
                <span ng-show="rateCheckForm.$submitted || rateCheckForm.email.$touched">
                    <span ng-show="rateCheckForm.email.$error.required">Tell us your email</span>
                    <span ng-show="rateCheckForm.email.$error.email">This is not a valid email</span>
                </span>
            </p>
            <p>
                <label class='field' for="amount">Amount</label>
                <input type="number" ng-model="user.amount" required id="amount" name="amount" min="5000" max="35000"/>
                <span ng-show="rateCheckForm.$submitted || rateCheckForm.amount.$touched">
                    <span ng-show="rateCheckForm.amount.$error.required">Enter the required amount(between $5000 and $35000)</span>
                </span>
            </p>
            <p>
                <label class='field' for="creditscore">Credit Score</label>
                <input type="number" ng-model="user.creditscore" required id="creditscore" min="300" max="850" name="creditscore"/>
                <span ng-show="rateCheckForm.$submitted || rateCheckForm.creditscore.$touched">
                    <span ng-show="rateCheckForm.creditscore.$error.required">Enter your Credit Score(300 - 850)</span>
                </span>
            </p>
            <p>
                <input type="button" ng-click="reset()" value="Reset" id="resetLoanForm"/>
                <input type="submit" value="FIND YOUR RATE" id="findYourRate"/>
            </p>
        </fieldset>
        <div ng-init="isLoanDenied = false" ng-show="isLoanDenied" id="loanDenied" class="deniedMessage">
            Your loan application is not approved. Please contact us at 1-800-GET-LOANS for more details.
        </div>
    </div>
</form>